<mat-dialog-content>
  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput required [(ngModel)]="titre" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput required [(ngModel)]="description" placeholder="Description..."></textarea>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Utilisateur Affecté</mat-label>
    <select matNativeControl [(ngModel)]="utilisateurAffecte">
      <option value="">Aucun</option>
      @for (user of users; track user.username) {
        <option value="{{ user.username }}">{{ user.username }}</option>
      }
    </select>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Prioritée</mat-label>
    <select matNativeControl required [(ngModel)]="priority">
      <option value="3">Basse</option>
      <option value="2">Moyenne</option>
      <option value="1">Haute</option>
    </select>
  </mat-form-field>
  <br />
  <mat-label>Tags</mat-label>
  <mat-form-field class="example-chip-list">
    <mat-chip-grid #chipGrid aria-label="Enter tags">
      @for (tag of tags(); track tag) {
        <mat-chip-row
          (removed)="remove(tag)"
          [editable]="true"
          (edited)="edit(tag, $event)"
          [aria-description]="'press enter to edit ' + tag.name"
        >
          <button matChipEdit [attr.aria-label]="'edit ' + tag.name">
            <mat-icon>edit</mat-icon>
          </button>
          {{ tag.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        placeholder="New tag..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="elevated" (click)="cancelCreate()">Annuler</button>
  <button matButton="elevated" (click)="createTask()">Créer</button>
</mat-dialog-actions>
